/* 화면크기가 1000px보다 작을 때 */
@media (max-width: 1000px) {
    .box-aside {
      display: none;
    }
    header h1 {
      position: absolute;
      top: 15px;
      left: 25px;
    }
    .bar-search {
      left: 110px;
    }
  }


  /* 화면크기가 800px보다 작을 때 */
  @media (max-width: 800px) {
    .bar-search input {
      width: 200px;
    }
  }


  /* 화면크기가 760px보다 작을 때 */
  @media (max-width: 760px) {
    .bar-search {
      display: none;
    }
    .list-nav {
      position: absolute;
      top: 15px;
      right: 25px;
    }
    header {
      height: 65px;
    }
  }





/* body {
    font-family: 맑은 고딕;
    font-weight:lighter;
    display:flex;
    /* min-height: 100vh;   
}*/



#image1 {

    cursor: pointer;

    position:absolute; 
    top:100px; 
    width:100px;
    right: 380px;
    height:400px; 
}

#mesideBanner-1G { 

    cursor: pointer;

    position:absolute; 
    /* top:0px; 

    width:100px;  */
    top:100px;
    right: 270px;
    height:400px;  
  }




  #mesideBanner-2G { 
    position:absolute; 
    /* top:0px; 

    width:100px;  */
    top:130px;
    right: 340px;
    height:400px;  
  }  

 



#meblue {
    
    cursor: pointer;
    font-style: bold #0088ff;
    position:absolute; 
    top:120px; 
    width:100px;
    right:10px;
    height:400px; 

}

#foryou {
    font-style: bold;
    position:absolute; 
    top:190px; 
    
    right:310px;
    height:400px; 
}

#yjlogo {
    cursor: pointer;
    position:absolute; 
    top:250px; 
    width:100px;
    right: 380px;
    height:400px; 

}

#yjsideBanner-1G { 
    position:absolute; 
    top:10px;
    right: -135px;
    height:400px;  
  }  

  #yjsideBanner-2G { 
    position:absolute; 
    width:530px;
    top: 50px;
    right: -540px;
    height:400px;  
  }  

  #yjblue {
    
    cursor: pointer;
    font-style: bold #0088ff;
    position:absolute; 
    top:25px; 
    width:100px;
    right:-365px;
    height:400px; 

}

#fukuokalogo {
    cursor: pointer;
    position:absolute; 
    top:400px; 
    width:100px;
    right: 380px;
    height:400px; 

}

#fukusideBanner-1G { 
    position:absolute; 
    top:10px;
    right: -155px;
    height:400px;  
  }  

  #fukusideBanner-2G { 
    position:absolute; 
    /* width:500px;
    top: 50px;
    right: -510px;
    height:400px;   */
  }  

  #fukublue {
    
    cursor: pointer;
    font-style: bold #0088ff;
    position:absolute; 
    top:25px; 
    width:100px;
    right:-365px;
    height:400px; 

}

#fukuokamatlogo {
    cursor: pointer;
    position:absolute; 
    top:550px; 
    width:100px;
    right: 380px;
    height:400px; 

}

#fukusideBanner-1G { 
    cursor:pointer;
    position:absolute; 
    top:5px;
    right: -155px;
    height:400px;  
  }  

  #fukusideBanner-2G { 
    cursor:auto;
    position:absolute; 
    width:500px;
    top: 50px;
    right: -515px;
    height:400px;  
  }  

  #fukusideBanner-3G { 
    cursor:auto;
    position:absolute; 
    width:500px;
    top: 70px;
    right: -515px;
    height:400px;  
  }  


  #fukublue {
    
    cursor: pointer;
    font-style: bold #0088ff;
    position:absolute; 
    top:35px; 
    width:100px;
    right:-365px;
    height:400px; 

}