.story-modal {
  height: 100vh;
  width: 100%;
  position: fixed;
}

.story-modal .story-modal-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #1a1a1a;
  overflow: hidden;
}

.story-modal .story-modal-body .story-modal-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.story-modal .story-modal-body .story-modal-wrapper .modal-wrapper {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  align-items: center;
  justify-content: center;
  align-self: auto;
  height: 100%;
}

.story-modal .story-modal-body .story-modal-wrapper .modal-wrapper .story-container {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.story-container.move-out {
  transform: translateX(-100%) scale(0.5);
}

.story-container.move-in {
  transform: translateX(0) scale(1);
}

.modal-story {
  height: 100%;
  width: 100%;
  border-right: 46px solid transparent;
  border-left: 46px solid transparent;
  margin-left: -46px;
  box-sizing: content-box;
}

.modal-story .story-item {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img-container {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-container .img-size .img-item {
  height: 100%;
}

.img-container .img-size .img-item .img-div {
  width: 100%;
  height: 100%;
}

.img-container .img-size .carousel.slide {
  height: 100%;
}

.img-container .img-size .carousel.slide .carousel-inner {
  width: 100%;
  height: 100%;
}

.img-container .img-size .carousel.slide .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-story {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.slide-button {
  display: block;
  margin-top: -13px;
  opacity: .2;
  position: absolute;
  top: 50%;
  transition: opacity .1s ease-in;
  background: transparent;
  border: 0;
}

.prevB {
  left: calc(-40px);
}

.nextB {
  right: calc(-40px);
}

.btn-next {
  background-image: url(../../../public/assets/image/TJztmXpWTmS.png);
  background-repeat: no-repeat;
  background-position: -162px -98px;
  height: 30px;
  width: 30px;
}

.btn-prev {
  background-image: url(../../../public/assets/image/TJztmXpWTmS.png);
  background-repeat: no-repeat;
  background-position: -130px -98px;
  border: 0;
  height: 30px;
  width: 30px;
}

.hidden-story {
  display: none;
}