
/* 1300px */
.inner {
  width: 800px;
  height: 1300px;
  margin: 0px auto;
}



/* 🟡 모달 🟡  */
.bgBlur{
  width : 100vw;
  height : 100vh;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 6;
  /* visibility: hidden; */
  /* padding: 30px; */
  
}
body{
  width : 100vw;
  height : 100vh;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 6;
  /* visibility: hidden; */
  /* padding: 30px; */
  
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 75vw;
  height: 95vh;
  position: fixed;
  border-radius: 10px 10px 10px 10px;
  /* border: 1px solid red; */
  background: rgb(246, 246, 246);
  z-index: 999;
  transition: all .5s;
  /* visibility: hidden; */
  }
  .visible{
    visibility: visible;
  }
  .no_visible{
    visibility: hidden;
  }

  @media screen and (max-width: 768px) {
    .modal {
      width: 90vw;
      height: 70vh;
      /* 추가적인 스타일 조정 */
    }
  }

  
.modalBox {
  display: flex;
  height: 100%;
  width: 75vw;
} 

.modalBox .left {
  flex: 7;  
}
.modalBox .left  .main-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

}


/* 이미지 캐러셀 */
.main-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  
}
.items{
  width: 100%;
  white-space: nowrap;
}
/* li */
.items .item{
  width: 100%;
  height: 1000px;
  display: inline-block;
  margin-right: -9.5px;

}
.items .item .main-img{
  width: 100%;
  height: 100%;
  visibility: visible;
}

.prevButton {
  background: #dcdcdcab;
  color: rgb(183, 186, 189);
  border-radius: 50%;
  /* font-size: 30px; */
  width: 50px;
  height: 50px;
  font-size: 30px;
  position:absolute;
  top: 50%;
  left: 30px;
  z-index: 5;
}
.nextButton {
  background: #dcdcdcab;
  color: rgb(183, 186, 189);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  position:absolute;
  top: 50%;
  right: 30px;
  z-index: 5;
}

.items{
  transition: 0.5s;
}









.modalBox .right {
  flex: 3;
  /* position: relative; */
}
.modal-inner {
  width: 640px;
  height: 70%;
  overflow:auto;  
  word-wrap: break-word;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 20px;
  background: orange;
  overflow:auto;  
 
}

.modal-inner .innerComent{
  height: auto;
  width: 620px;
  background: blueviolet;
  display: flex;
  align-items: center;
  padding: 10px;
  /* min-height: max-content; */
}
.modal-inner .innerComent .visitor-box{
 width: 100px;
}



.modal-inner .innerComent .comment{
  width: 100%;
  height: auto;
  background: rgb(246, 212, 107);
  display: flex;
  align-items: center;
  padding: 10px;
  word-break:break-all; 
}

.modal-inner .innerComent .visitor{
  
}
.modal-inner .innerComent .visitor img{
  height:50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 10px 0 ;
}

.visitor-id{
  font-size: 25px;
  margin-right: 10px;
  
}
.visitor-comment{
  float: left;
}





/* 컴포넌트 탑 */
/* 탑 아이디 */
.modalBox .right .top{
  width: auto;
  height:  10%;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(161, 160, 160, 0.486);
}
.modalBox .right .top-container{
  margin-left: 10px;
  height: 100%;
  /* width: 50\; */
  display: flex;
}
.modalBox .right .account {
  font-size:25px ;
}
.modalBox .right .top-item-image{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}                                           
.modalBox .right .top-item-image .top-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/* 1.2 item-account */
.modalBox .right .top-item-account{
  width: 25%;
  text-align: center;
  margin: auto 0;
}
.modalBox .right .top-item-account #userAcct{
  /* font-weight: 600; */
}


.right .top-right {
  margin-left: 10px;
  margin-top: 10px; 
}


.modal-comment{
  width: 100%;
  height: 15%;
  display: flex;
   align-items: center;
   position: relative;
 }
 .modal-comment .modal_bottom{
  border-top: solid 1px rgba(161, 160, 160, 0.486);
  position: absolute;
  bottom: 1px;
  width: 100%;
  display: flex;
 }
 .modal-comment .modal-comment-input {
   width: 83%;
   height: 60px;
   font-size: 25px;
   margin-right: 20px;
  
   border: none;
   outline: none;
   background: rgb(246, 246, 246);
   overflow:auto;  
   word-wrap: break-word;
  
 }

 button {
  margin-top: 13px;
   color: rgb(54, 120, 226);
   background: #00000000;
   font-size: 25px;
   font-weight: 900;
   border: none;
   outline:none;
 }
 button:hover{
   color: rgb(0, 0, 0);
 }
 button:active{
   color:rgb(174, 174, 174);
 }