.num {
  width: 470px; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.num .color-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.num .color-picker .colors {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.colors.selected {
  transform: scale(1.3);
  transition: transform 0.4s ease;
}

#num-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#num-1 .writing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 600px;
  margin-bottom: 5px;
}

#num-1 .writing .text-write {
  width: auto;
  height: auto;
  resize: none;
  background: transparent;
  border: none;
  max-width: 300px;
  color: #000000;
}

#num-1 .writing .text-write:focus {
  outline: none;
}

#num-1 .font-color {
  width: 100%;
  height: 50px;
  display: flex;
  border-top: 2px solid #000;
  justify-content: center;
  align-items: center;
}

#num-1 .fontColors {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: flex;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#num-1 .fontColors.selected {
  transform: scale(1.3);
  transition: transform 0.4s ease;
}