.li {
  .item-div {
    background-color: red;
    .photo {
      width: 66px;
      height: 66px;
      background-color: black;
    }
  }
}

.test {
  width: 200px;
  height: 200px;
  background-color: black;
}