.main .main-body .story-wrapper .container {
  max-width: 630px;
  display: flex;
  position: relative;
}


.main .main-body .story-wrapper .slider {
  display: flex;
}

.main .main-body .story-wrapper .story-container {
  width: 66px;
  height: 122px;
  position: relative;
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
  margin-right: 12px;
}
.main .main-body .story-wrapper .story-container .story {
  width: 64px;
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  align-self: center;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.main .main-body .story-wrapper .story-container .story .profile {
  width: 56px;
  height: 56px;
  margin-top: 4px;
  margin-bottom: 8px;
  border-radius: 50%;
  align-self: center;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.main .main-body .story-wrapper .story-container .story .profile canvas {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 66px;
  height: 66px;
}
.main .main-body .story-wrapper .story-container .story .profile .image {
  top: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  display: block;
}
.main .main-body .story-wrapper .story-container .story .profile .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
.main .main-body .story-wrapper .story-container .story .name {
  text-align: center;
  font-family: 'Segoe UI';
}
