/* 🟢 모달  🟢*/

/* COMMON */
.button-custom {
  color: rgb(54, 120, 226);
  background: #00000000;
  font-size: 25px;
  font-weight: 900;
  border: none;
  outline: none;
  padding: 0;
}
.button-custom:hover {
  color: rgb(0, 0, 0);
  background: #00000000;
}
.button-custom:active {
  background: #00000000;
  color: rgb(174, 174, 174);
}

#postModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#postModal .modal-content {
  width: 1800px;
  height: 1100px;
}

#postModal .modal-body {
  display: flex;
  padding: 0;
}

/* 1. LEFT */

#postModal .modal-body .modal-left {
  width: 55%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  background-size: cover;
}
#postModal .carousel-inner {
  background-color: black;
}

/* 2. RIGHT */

#postModal .modal-body .modal-right {
  /* background: #ffae5c; */
  width: 45%;
}

/* 🟢 TOP - 10% */
#postModal .modal-body .modal-right .right-top {
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  border-bottom: solid 1px rgba(161, 160, 160, 0.486);
}
#postModal .modal-body .modal-right .right-top-container {
  margin-left: 10px;
  height: 100%;
  /* width: 50\; */
  display: flex;
}
#postModal .modal-body .modal-right .right-top-container .right-top-userimage {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
}
#postModal
  .modal-body
  .modal-right
  .right-top-container
  .right-top-userimage
  .top-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#postModal .modal-body .modal-right .right-top-container .top-item-account {
  width: 25%;
  text-align: center;
  margin: auto 0;
  padding-left: 30px;
}
#postModal
  .modal-body
  .modal-right
  .right-top-container
  .top-item-account
  .name {
  font-size: 25px;
  font-weight: 900;
}

/* 🟢  2. MIDDLE 75% */

#postModal .modal-right .modal-middle {
  width: 100%;
  height: 75%;
  overflow: auto;
  margin-top: 10px;
  box-sizing: border-box;
  /* margin: 0 auto; */
  font-size: 20px;
  /* background: rgb(0, 38, 255); */
  overflow: auto;
  border-bottom: solid 1px rgba(161, 160, 160, 0.486);
}

/* 방문자 글 한줄 */
#postModal .modal-right .modal-middle .visitor-post {
  height: auto;
  width: 100%;
  /* background: blueviolet; */
  display: flex;
  align-items: center;
  word-wrap: break-word;
  margin-bottom: 15px;
}

#postModal .modal-right .modal-middle .visitor-post .visitor-imgBox {
  width: 100px;
}

#postModal
  .modal-right
  .modal-middle
  .visitor-post
  .visitor-imgBox
  .visitor-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 10px 0;
}

#postModal .modal-right .modal-middle .visitor-post .comment {
  /* width: 100%; */
  height: auto;
  /* background: rgb(246, 212, 107); */
  display: block;
  align-items: center;
  margin-right: 20px;
  float: left;
  line-height: 1.2;
}
#postModal .modal-right .modal-middle .visitor-post .comment .visitor-id {
  font-size: 30px;
  font-weight: 900;
}

#postModal .modal-right .modal-middle .visitor-post .comment .visitor-comment {
  font-size: medium;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* 🟢 하트 좋아요 5% */

#postModal .modal-right .heart {
  height: 5%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px rgba(161, 160, 160, 0.486);
  margin-bottom: 10px;
}
#postModal .modal-right .heart .heartimg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 15px;
}
#postModal .modal-body .modal-right .heart .user-count {
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 17px;
}

/*  🟢 BOTTOM  5% */
#postModal .modal-right .modal-comment {
  /* background: #fb3480; */
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  /* position: relative; */
}
#postModal .modal-right .modal-comment .modal_bottom {
  width: 100%;
  display: flex;

  box-sizing: border-box;
}
#postModal .modal-right .modal-comment .modal-comment-input {
  width: 85%;
  height: 90px;
  font-size: 25px;
  margin-right: 10px;
  border: none;
  outline: none;
  background: rgba(246, 246, 246, 0);
  overflow: auto;
  word-wrap: break-word;
}
#postModal .modal-right .modal-comment .posting-push {
  width: 12%;
  text-align: center;
  line-height: 100px;
  /* -------- */
  width: 12%;
  text-align: center;
  display: flex;
  align-items: center;
}
#postModal .button-custom.show_All {
  font-size: 14px;
  color: rgb(115, 115, 115);
  /* position: relative; */
  /* left: 1px; */
  --bs-btn-active-bg: none;
  width: 100px;
}
