.main {
  justify-content: center;
  width: 100%;
  display: flex;
  padding-top: 22px;
  flex-direction: row;
}
.main .main-body {
  max-width: 630px;
  width: 100%;
}
.main .main-body .story-wrapper {
  margin: 0;
  padding: 8px 0;
  display: flex;
  align-items: stretch;
  overflow-y: hidden;
}
