<div id="stories-wrapper">
  <div id="stories-container">
    <a class="story">
      <div class="profile">
        <img src="https://www.w3schools.com/w3images/avatar2.png" alt="" />
      </div>
      <div class="title">John Smith</div>
    </a>
    <a class="story">
      <div class="profile">
        <img src="https://www.w3schools.com/w3images/avatar3.png" alt="" />
      </div>
      <div class="title">George Lucas</div>
    </a>
    <a class="story">
      <div class="profile">
        <img src="https://www.w3schools.com/w3images/avatar4.png" alt="" />
      </div>
      <div class="title">Elizabeth Taylor</div>
    </a>
    <a class="story">
      <div class="profile">
        <img src="https://www.w3schools.com/w3images/avatar5.png" alt="" />
      </div>
      <div class="title">Catherine Jones</div>
    </a>
    <a class="story">
      <div class="profile visited">
        <img src="https://www.w3schools.com/w3images/avatar1.png" alt="" />
      </div>
      <div class="title">Peter Rabbit</div>
    </a>
  </div>
</div>