<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yj-stargrame</title>>
    <link rel="stylesheet" href="insta/style.css">
</head>

<body>
        <aside> 
            <div id="mememe"> 
                <div id="image1"> 
                    <img src="./11111.JPG" href="#" onclick="location.href='naver.com'" width="80" height="75">
                </div>
                                
                <div id="mesideBanner_1G">   
                    <h3 href="#" onclick="location.href='naver.com'" > first_group </h3>
                </div>

                <div id ="mesideBanner_2G">
                    <h5>1조</h5>
                </div>
            
                <div id="meblue">
                    <h3 href="#" onclick="location.href='naver.com'" style="color:rgb(3, 150, 255)">ME</h3>
                </div>
            </div>
        </aside>


        <aside> 
            <div id ="foryou">
                <h5 style = "color :rgb(155, 155, 155)"> 회원님을 위한 추천 </h5>
            </div>
        </aside>


        <aside>
            <div id = "yjlogo">
                <h1><img src="./yj.png" onclick="yjpage()" width="70" height="70"> </h1>
                
                
                <div id="yjsideBanner_1G">   
                    <h3 onclick="yjpage()">go_school_yju</h3>
                </div>

                <div id ="yjsideBanner_2G">
                    <h5>영진 후쿠오카 현지학기제 정보</h5>
                </div>

                <div id="yjblue">
                    <h3 onclick="yjpage()" style="color:rgb(3, 150, 255)">click</h3>
                </div>

            </div>
        </aside>




        <aside>
            <div id = "fukuokalogo">
                <h1><img src="./fukuoka1.png"  onclick="fukuokatrip()" width="70" height="75"> </h1>
                
                
                <div id="fukusideBanner_trip_1G">   
                    <h3 onclick="fukuokatrip()" >FUKUOKA_TRIP</h3>
                </div>

                <div id ="fukusideBanner_trip_2G">
                    <h5>후쿠오카 여행 소개!</h5>
                </div>

                <div id="fukuoka_trip_blue">
                    <h3 onclick="fukuokatrip()" style="color:rgb(3, 150, 255)">click</h3>
                </div>
        </aside>


        <aside>
            <div id = "fukuokamatlogo">
                <h1><img src="./fukuokao.png" onclick="fukuokaoishi()" width="70" height="75"> </h1>
                
                
                <div id="fukusideBanner_mat_1G">   
                    <h3 onclick="fukuokaoishi()" >FUKUOKA_Oishī</h3>
                    
                </div>

                <div id ="fukusideBanner_mat_2G">
                    <h5>후쿠오카 맛집 총출동!!</h5>
                </div>

                <div id ="fukusideBanner_mat_3G">
                    <h5>@@아! 우리 여기 꼭 가자!!</h5>
                </div>

                <div id="fukuok_mat_blue">
                    <h3 onclick="fukuokaoishi()" style="color:rgb(3, 150, 255); cursor: pointer;">click</h3>
                </div>
        </aside>

    </body>
</html>