.right-nav-container {
  height: 100vh;
}

.right-nav-container .right-nav {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}

.right-nav-container .right-nav .right-nav-header {
  display: flex;
  flex-direction: column;
}

.right-nav-header .login-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
}

.right-nav-header .login-info .login-info-img {
  width: 44px;
  height: 44px;
}