.inner {
  justify-content: center;
  width: 100%;
  display: flex;
  padding-top: 22px;
  flex-direction: row;
}

.inner post-container {
  width: 100%;
  max-width: 630px;
}

.inner .inner-container {
  max-width: 630px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner .inner-container .card-container {
  max-width: 470px;
  width: 100%;
}

.card {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

/* TOP  - 사용자 이미지  +  아이디  + ・・・ */
.card .top {
  display: flex;
  flex-direction: row;
  position: relative;
}

.card .top .top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 8px 4px 8px 5px;
}

.card .top .top-container .top-item-image .top-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
  margin-right: 10px;
}

.card .top .top-container .top-item-account {
  display: flex;
  flex-direction: column;
  /* margin-left: -px; */
  /* margin-left: -px; */
  justify-content: center;
  min-height: 40px;
}

.card .top .top-container .top-item-account .account {
  font-size: 18px;
}

/* 구글 머티리얼 아이콘 */
.card .top .top-container .dropdown {
  position: absolute;
  right: 1px;
}
.card .top .top-container .dropdown .cansel-modal {
  border: none;
}

.card .post-footer .show_All {
  font-size: 14px;
  color: rgb(115, 115, 115);
  /* position: relative; */
  /* left: 1px; */
  --bs-btn-active-bg: none;
  width: 100px;
}

.isvisible {
  transition: 1s;
}

.card .main-container {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  background-size: cover;
}

.card .main-container .items {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .main-container .items .carousel.slide {
  height: 100%;
}

.card .main-container .items .carousel.slide .carousel-inner {
  width: 100%;
  height: 100%;
}

.card .main-container .items .carousel.slide .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.card
  .main-container
  .items
  .carousel.slide
  .carousel-inner
  .carousel-item
  .img {
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: contain;
  border-radius: 5px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

/* 🟢 CARD */
.card .post-footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.card .post-footer .user-heart {
  display: flex;
  margin-top: 4px;
}

.card .post-footer .user-heart .user-heart-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card .post-footer .user-count {
  display: flex;
  margin: 6px;
}

/* 좋아요 수 (서버에서 변수로 받아와 적용)  */
.card .post-footer .user-count .count-like {
  font-size: 15px;
  font-weight: 900;
  margin: 0 3px 0;
}
/* 좋아요 수 뒤에 글자  */
.card .post-footer .user-count .user-like {
  font-size: 15px;
  font-weight: 900;
}

.card .post-footer .user-write {
  display: flex;
  flex-direction: column;
}

.card .post-footer .user-write #account {
  font-weight: 600;
  font-size: 15px;
  line-height: 7px;
  margin: 0 3px 0;
}

.card .post-footer .user-write #showMore {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: rgb(115, 115, 115);
  cursor: pointer;
}

/* 작성자 게시글 박스 */
.card .post-footer .user-write .user-tag .post-content {
  height: 25px; /* 50px 2줄 */
  overflow: hidden;
  line-height: 0.5em;
}

/* 더보기 토글 */
.card .post-footer .user-write .user-tag .post-content.user-tag-on {
  height: auto;
}

/* 작성자 게시글 크기 */
.card .post-footer .user-write .user-tag .post-content .post {
  font-size: 15px;
  line-height: 1.7em;
}

.card .post-footer #showAll {
  font-size: 14px;
  font-weight: 400;
  color: rgb(115, 115, 115);
  cursor: pointer;
  margin-bottom: 10px;
}

.card .post-footer .comment-wrap {
  display: flex;
  align-items: center;
}
.card .post-footer .comment-wrap .comment {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 90%;
}

.card .post-footer .comment-wrap .comment .comment-input {
  width: 20%;
  max-height: 120px;
  max-width: 100%;
  flex-grow: 1;
  height: 40px;
  font-size: 15px;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  padding-top: 5px;
  border-bottom: 1px solid rgba(137, 134, 134, 0.655);
}

button {
  color: rgb(54, 120, 226);
  background: #00000000;
  font-size: 13px;
  font-weight: 900;
  border: none;
  outline: none;
}
button:hover {
  color: rgb(0, 0, 0);
}
button:active {
  color: rgb(174, 174, 174);
}
